<div class="col">
<div id="<%= dom_id movie %>" class="card mb-4 rounded-3 shadow-sm", style="padding:1%;">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>
  <p>
    <strong>Autor:</strong>
    <%= movie.autor %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Film lenth:</strong>
    <%= movie.film_lenth %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= movie.rating %>/10
  </p>

</div>
</div>